*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
  }
  nav{
	/* background-image: url(seamless-gold-rhombus-grid-pattern-black-background_53876-97589.avif); */
	background-color: #000;
  }
  h1{
	font-size: 2.5rem;
	
	font-family: 'Arizonia';

	color: #756f6f;
	text-align: center;
	margin: 0rem 0;
  }
  .div{
	background-image: url(seamless-gold-rhombus-grid-pattern-black-background_53876-97589.avif);
  }
  .wrapper{
	width: 90%;
	margin: 0 auto;
	max-width: 80rem;
  }
  .name{
	font-size:1rem;
	transition: font-size 0.3s;

  }
  .name:hover{
	font-size:1.25rem;
	color: #000;
  }
 
	
  
  .cols{
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .col{
	width: calc(100%/6 - 2rem);
	margin: 1rem;
	cursor: pointer;
  }
  
  .container{
	
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	  -webkit-perspective: 1000px;
			  perspective: 1000px;
			  height: 300px;
  }
 
  .front,
  .back{
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
	border-radius: 10px;
	  background-position: center;
	  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
	  text-align: center;
	  min-height: 280px;
	  height: auto;
	  border-radius: 10px;
	  color: #fff;
	  font-size: 1.5rem;
  }
  
  .back{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(56,57,85,1) 100%, rgba(41,42,46,1) 100%, rgba(0,212,255,1) 100%);
  }
  button:hover{
	cursor: pointer;
	scale: 1;
	color: #060707;
  }
  
  .front:after{
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1;
	  width: 100%;
	  height: 100%;
	  content: '';
	  display: block;
	  opacity: 0;
	  background-color: #000;
	  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
	  border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
	  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
  }
  
  .inner{
	  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
			  transform: translateY(-50%) translateZ(60px) scale(0.94);
	  top: 50%;
	  position: absolute;
	  left: 0;
	  width: 100%;
	  padding: 2rem;
	  -webkit-box-sizing: border-box;
			  box-sizing: border-box;
	  outline: 1px solid transparent;
	  -webkit-perspective: inherit;
			  perspective: inherit;
	  z-index: 2;
  }
 
  .container .back{
	  -webkit-transform: rotateY(180deg);
			  transform: rotateY(180deg);
	  -webkit-transform-style: preserve-3d;
			  transform-style: preserve-3d;
  }
  
  .container .front{
	  -webkit-transform: rotateY(0deg);
			  transform: rotateY(0deg);
	  -webkit-transform-style: preserve-3d;
			  transform-style: preserve-3d;
  }
  
  .container:hover .back{
	-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
  }
  
  .container:hover .front{
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
  }
  
  .front .inner p{
	font-size: 2rem;
	margin-bottom: 2rem;
	position: relative;
  }
  
  .front .inner p:after{
	content: '';
	width: 4rem;
	height: 2px;
	position: absolute;
	background: #C6D4DF;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -.75rem;
  }
  
  .front .inner span{
	color: rgba(255,255,255,0.7);
	font-family: 'Montserrat';
	font-weight: 300;
  }

.footer{
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

  
.image-container img {
	width: 100%;
	max-height: 600px;
  }
  
  
  
  .navigation-bar-container {
	/* position: sticky; */
	/* max-width: 1300px; */
	height: 55px;
	background: #000000;
	z-index: 999;
	/* width: 100%; */
	top: 0px;
	left: 0px;
	right: 0px;
  }
  
  .logo-container {
	position: absolute;
    padding-left: 20px;
	float: left;
	line-height: 70px;
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: bold;
  }
  
  .logo-container a,
  .logo-container a:visited {
	color: #fff;
	text-decoration: none;
  }
  
  .nav-container {
	/* width: 1300px; */
	max-width: 1440px;
	margin: 0px 0px;
  }
  
  .navbar {
	float: right;
	padding-bottom: 10px;
	
  }
  
  .navbar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	z-index: 9999;
  }
  
  .navbar ul li {
	float: left;
	position: relative;
  }
  
  .navbar ul li a,
  .navbar ul li a:visited {
	display: block;
	padding: 0px 6px;
	line-height: 70px;
	color: rgba(255,255,255,.55);
	text-decoration: none;
	
  }  
  .navbar ul li ul li {
	min-width: 190px;
  }
  
  .navbar ul li ul li a {
	padding: 15px;
	line-height: 20px;
  }
  
  .nav-dropdown {
	position: absolute;
	z-index: 1;
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
	display: none;
  }
  
  .nav-mobile {
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	background: #000000;
	height: 70px;
	width: 70px;
	display: none;
  }
  
  #nav-toggle {
	position: absolute;
	left: 10px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
  }
  
  #nav-toggle span,
  #nav-toggle span:after,
  #nav-toggle span:before {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
	transition: all 300ms ease-in-out;
  }
  
  #nav-toggle span:after {
	bottom: -10px;
  }
  
  #nav-toggle span::before {
	top: -10px;
  }
  
  #nav-toggle.active span {
	background: transparent;
  }
  
  #nav-toggle.active span:after,
  #nav-toggle.active span:before {
	top: 0px;
  }
  
  #nav-toggle.active span:after {
	transform: rotate(-45deg);
  }
  
  #nav-toggle.active span:before {
	transform: rotate(45deg);
  }
  .navbar ul li a:hover,
.navbar ul li a:visited:hover {

  color: white;
}
  @media only screen and (max-width: 790px) {
	.nav-mobile {
	  display: block;
	}
	.navbar {
	  width: 100%;
	  padding: 70px 0px 0px;
	}
	.navbar ul {
	  display: none;
	}
	.navbar ul li {
	  float: none;
	}
	.navbar ul li a {
	  padding: 15px;
	  line-height: 20px;
	}
	.navbar ul li ul li a {
	  padding-left: 30px;
	}
	.nav-dropdown {
	  position: static;
	}
  }
  
  /* @media screen and (min-width: 1024px) {
	.navigation-bar-container {
	  display: flex;
	  justify-content: space-around;
	} */
  /* } */
  @media screen and (min-width: 799px) {
	.nav-list {
	  display: block !important;
	}
  }
  
  @media screen and (max-width: 64rem){
	.col{
	  width: calc(50% - 2rem);
	}
  }
  
  @media screen and (max-width: 48rem){
	.col{
	  width: calc(50% - 2rem);
	}
  }
  
  @media screen and (max-width: 32rem){
	.col{
		width: calc(50% - 2rem);
		padding:6px;
		margin: 0 0 1.5rem 0;
		height: 266px;
    width: 144px;
	  }
  }